# Linear Regression Code Along

In [6]:
import pandas as pd
import sklearn
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("../../data/Advertising.csv", index_col=0)
df.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [10]:
df.shape # 200 rader 4 kolumner

(200, 4)

In [12]:
df.shape[0] # 1 row is a sample

200

In [16]:
print(f"{df.shape[0]} samples")
print(f"{df.shape[1] -1} features")
print("sales column is our label/target")

200 samples
3 features
sales column is our label/target

# Divide data into X & Y

In [22]:
# tuple unpacking
X, y = df.drop("sales", axis = "columns"), df["sales"]
X.head()

      TV  radio  newspaper
1  230.1   37.8       69.2
2   44.5   39.3       45.1
3   17.2   45.9       69.3
4  151.5   41.3       58.5
5  180.8   10.8       58.4

In [23]:
y.head() #

1    22.1
2    10.4
3     9.3
4    18.5
5    12.9
Name: sales, dtype: float64

In [26]:
type(y), type(X) # to see what data type variables are. list? array?

(pandas.core.series.Series, pandas.core.frame.DataFrame)

# Scikit-learn Steps:
1. train | test split or train|val|test split
2. scale data set
    - many algorithms require scaliing, some don't
    - different types of scaling

In [8]:
df.info() # option enter for next block

<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, 1 to 200
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   radio      200 non-null    float64
 2   newspaper  200 non-null    float64
 3   sales      200 non-null    float64
dtypes: float64(4)
memory usage: 7.8 KB